* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

/* nav page */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  flex-wrap: wrap;
  align-items: center;
}

.nav-logo {
  flex-shrink: 0;
  font-size: 24px;
}

.nav-logo a {
  text-decoration: none;
  color: #8a6240;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 18px;
}

.nav-items a {
  color: #8a6240;
}

.nav-items li {
  flex-shrink: 0;
}

.nav-items li a {
  flex-shrink: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

/* hero-section */
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
  align-items: center;
  gap: 50px;
  /* border: 2px solid red; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-text {
  font-size: 48px;
}

.secondary-text {
  font-size: 18px;
}

.hero-image img {
  width: 200px;
  border: 10px solid #8a6240;
}

.hero-button {
  color: #ffffff;
  background-color: #8a6240;
  border: 0px;
  padding: 10px;
  width: 170px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/* info section */
.info-section {
  padding: 20px 150px;
}

.info-header {
  font-size: 24px;
  /* font-weight: bold; */
  text-align: center;
}

.info-desc {
  text-align: center;
}

.info-content {
  display: flex;
  justify-content: center;
  /* align-items: centers; */
  padding: 50px 0px;
}

.info-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
}

.info-images img {
  width: 150px;
  height: 200px;
  /* gap: 20px; */
  border-radius: 10px;
  border: 2px solid #8a6240;
}

/* quotes section */
.quote-section {
  padding: 50px 250px;
  background-color: rgba(138, 98, 64, 0.5);
  /* margin: 0 auto; */
  /* text-align: center; */
}

.quote-saying {
  text-align: center;
  font-size: 70px;
  font-style: italic;
  font-weight: 300;
  /* padding: 1000px; */
  margin: 0 auto;
  /* font-family: robot; */
}
.quote-writer {
  font-weight: bold;
  font-size: 24px;
  /* margin-right: auto; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: end; */
  margin-top: 10px;
  /* padding: 0px 150px; */
  text-align: right;
}

.donate-section {
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
  /* justify-content: space-between; */
  /* align-items: center; */
  margin: 50px 150px;
  /* background-color: #8a6240; */
  /* color: #ffffff; */
}

.donate-content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #8a6240;
  border-radius: 10px;
  color: #ffffff;
  /* flex: 1; */
}

.btn-donate {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #8a6240;
  padding: 0px 50px;
  border-radius: 10px;
  /* display: inline-block; */
  cursor: pointer;
  /* width: 100%; */
}

/* footer-section */
.footer-section {
  padding: 10px;
  text-align: center;
  background-color: rgba(31, 41, 55, 0.5);
  color: white;
}
