* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: #1f2937; */
}

.nav-logo {
  flex-shrink: 0;
  font-size: 24px;
}

.nav-logo a {
  text-decoration: none;
  color: #8a6240;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 18px;
}

.nav-items a {
  color: #8a6240;
}

.nav-items li {
  flex-shrink: 0;
}

.nav-items li a {
  flex-shrink: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}
