* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* nav page */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  flex-wrap: wrap;
  align-items: center;
}

.nav-logo {
  flex-shrink: 0;
  font-size: 24px;
}

.nav-logo a {
  text-decoration: none;
  color: #8a6240;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 18px;
}

.nav-items a {
  color: #8a6240;
}

.nav-items li {
  flex-shrink: 0;
}

.nav-items li a {
  flex-shrink: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

/* main-text */
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
  align-items: center;
  gap: 50px;
  /* border: 2px solid red; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-text {
  font-size: 48px;
}

.secondary-text {
  font-size: 18px;
}

.hero-image img {
  width: 200px;
  border: 10px solid #8a6240;
}

.hero-button {
  color: #ffffff;
  background-color: #8a6240;
  border: 0px;
  padding: 10px;
  width: 170px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/* info section */
.info-section {
  padding: 20px 150px;
}

.info-header {
  font-size: 24px;
  /* font-weight: bold; */
  text-align: center;
}

.info-desc {
  text-align: center;
}

.info-content {
  display: flex;
  justify-content: center;
  /* align-items: centers; */
  padding: 50px 0px;
}

.info-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
}

.info-images img {
  width: 150px;
  height: 200px;
  /* gap: 20px; */
  border-radius: 10px;
  border: 2px solid #8a6240;
}
